<template>
  <span id="background">
    <span id="window">
      <span class="close"
        ><router-link to="/"
          ><svg
            id="leave"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="94.926px"
            height="94.926px"
            viewBox="0 0 94.926 94.926"
            style="enable-background: new 0 0 94.926 94.926"
            xml:space="preserve"
          >
            <path
              d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0
		c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096
		c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476
		c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z"
            /></svg></router-link
      ></span>

      <div class="container">
        <div id="ligne1" class="ligne">
          <div class="colonne colonne1">
            <label for="titre">Titre de l'événement</label>
            <input
              type="text"
              name="titre"
              v-model="titre"
              id="titre"
              placeholder="Titre de l'événement"
            />
          </div>
          <div class="colonne colonne2">
            <input type="color" name="color" v-model="color" id="color" />
          </div>
        </div>

        <div id="ligne2" class="ligne">
          <p>Période de l'événement</p>
          <div class="colonne colonne1">
            <label>Début</label>
            <input type="date" name="debut" v-model="debut" id="debut" />
          </div>
          <div class="colonne colonne2">
            <label>Fin</label>
            <input type="date" name="fin" v-model="fin" id="fin" />
          </div>
        </div>

        <div id="ligne3" class="ligne">
          <p>Lieu de l'événement</p>
          <input
            type="text"
            name="lieu"
            v-model="lieu"
            id="lieu"
            placeholder="Lieu de l'événement"
          />
        </div>

        <div id="ligne4" class="ligne">
          <label>Note</label>
          <textarea
            name="note"
            v-model="note"
            id="note"
            placeholder="Texte..."
          ></textarea>
        </div>

        <div id="ligne5" class="ligne">
          <a href="#" class="import"
            ><svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 13V19C4 20.1046 4.89543 21 6 21H18C19.1046 21 20 20.1046 20 19V13"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 3L12 15M12 15L8.5 11.5M12 15L15.5 11.5"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Importer</a
          >
          <button class="add" @click="ajoutEvenement">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 330 330"
              style="enable-background: new 0 0 330 330"
              xml:space="preserve"
            >
              <path
                id="XMLID_23_"
                d="M315,0H15C6.716,0,0,6.716,0,15v300c0,8.284,6.716,15,15,15h300c8.284,0,15-6.716,15-15V15
	C330,6.716,323.284,0,315,0z M255,180h-75v75c0,8.284-6.716,15-15,15s-15-6.716-15-15v-75H75c-8.284,0-15-6.716-15-15
	s6.716-15,15-15h75V75c0-8.284,6.716-15,15-15s15,6.716,15,15v75h75c8.284,0,15,6.716,15,15S263.284,180,255,180z"
              />
            </svg>
            Créer
          </button>
        </div>
      </div>
    </span>
  </span>
</template>

<script>
import { postEvent } from "../api/evenement";

export default {
  name: "NouvelEvenement",
  data() {
    return {
      title: "",
      description: "",
      createdAt: "",
      startTime: "",
      endTime: "",
      location: "",
      color: "#F07070",
    };
  },

  async mounted() {},

  methods: {
    async ajoutEvenement() {
      await postEvent({
        title: this.titre,
        description: this.note,
        createdAt: new Date(),
        startTime: this.debut, //TODO faut selectionner la date
        endTime: this.fin,
        location: this.lieu,
        color: this.color,
      }).then((reponse) => {
        console.log(reponse);
        //this.confirm = true //activation d'un bandeau de confirmation
        this.$router.push("/"); //redirection
      });
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

#app {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#background {
  position: fixed;
  background: rgba(221, 221, 221, 0.8);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#window {
  background-color: #f5f5f5;
  padding: 50px;
  position: relative;
  border-radius: 30px;
  font-family: "IBM Plex Sans", sans-serif;
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
}
.close a {
  color: black;
  text-decoration: none;
}
.close a #leave {
  width: 100%;
  height: 100%;
}
.close a #leave path {
  fill: lightgrey;
  height: 24px;
}

#window .import {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90px;
}
#window .import svg {
  width: 18px;
  height: 100%;
}

#window .ligne {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
#window .ligne p {
  font-size: 16px;
  width: 100%;
  text-align: start;
  font-weight: 500;
}
#window .ligne .colonne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
#window .ligne label {
  font-size: 14px;
  width: 100%;
  text-align: start;
  margin: 0;
  font-weight: 300;
  margin-bottom: 3px;
}
#window .ligne input {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
}
#window .ligne input:active {
  border: 0;
}
#window .ligne input[type="date"] {
  color: #b8bcca;
}
#window .ligne textarea {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
  height: 150px;
}
#window .ligne a {
  text-decoration: none;
  color: #7b7b7b;
}
#window button {
  cursor: pointer;
  border-radius: 7px;
  background-color: #017fde;
  color: white;
  border: 0;
  padding: 10px 20px;
}

#window .ligne input::placeholder,
#window .ligne textarea::placeholder {
  color: #b8bcca;
  font-family: "IBM Plex Sans", sans-serif;
}
textarea {
  resize: none;
}

#window #ligne1 .colonne1 {
  width: 90%;
}
#window #ligne1 .colonne2 input {
  margin: 0 10px;
}
#window #ligne2 .colonne {
  width: 45%;
}
#window #ligne3 input {
  width: 100%;
}
#window #ligne5 {
  align-items: center;
  margin-top: 30px;
}

#window .add {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 96px;
}
#window .add svg {
  width: 16px;
  height: 100%;
}
#window .add svg path {
  fill: white;
}

label,
input {
  margin: 2px 10px;
}
</style>
