<template>
  <span id="background">
    <span id="window">
      <span class="close"
        ><router-link to="/"
          ><svg
            id="leave"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="94.926px"
            height="94.926px"
            viewBox="0 0 94.926 94.926"
            style="enable-background: new 0 0 94.926 94.926"
            xml:space="preserve"
          >
            <path
              d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0
		c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096
		c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476
		c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z"
            /></svg></router-link
      ></span>

      <div class="container">
        <div id="ligne1" class="ligne">
          <div class="colonne colonne1">
            <label for="titre">Titre de l'événement</label>
            <input
              type="text"
              name="titre"
              v-model="titre"
              id="titre"
              placeholder="Titre de l'événement"
            />
          </div>
          <div class="colonne colonne2">
            <input type="color" name="couleur" v-model="color" id="couleur" />
          </div>
        </div>

        <div id="ligne2" class="ligne">
          <p>Période de l'événement</p>
          <div class="colonne colonne1">
            <label>Début</label>
            <input type="date" name="debut" v-model="debut" id="debut" />
          </div>
          <div class="colonne colonne2">
            <label>Fin</label>
            <input type="date" name="fin" v-model="fin" id="fin" />
          </div>
        </div>

        <div id="ligne3" class="ligne">
          <p>Lieu de l'événement</p>
          <input
            type="text"
            name="lieu"
            v-model="lieu"
            :key="{ color }"
            id="lieu"
            placeholder="Lieu de l'événement"
          />
        </div>

        <div id="ligne4" class="ligne">
          <label>Note</label>
          <textarea
            name="note"
            v-model="note"
            id="note"
            placeholder="Texte..."
          ></textarea>
        </div>

        <div id="ligne5" class="ligne">
          <router-link
            :to="{
              name: 'supprimer_evenement',
              params: { id: this.$route.params.id },
            }"
            ><a class="delete">
              <svg
                version="1.1"
                id="trash"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 172.541 172.541"
                style="enable-background: new 0 0 172.541 172.541"
                xml:space="preserve"
              >
                <path
                  d="M166.797,25.078h-13.672h-29.971V0H49.388v25.078H19.417H5.744v15h14.806l10,132.463h111.443l10-132.463h14.805V25.078z
		 M64.388,15h43.766v10.078H64.388V15z M128.083,157.541H44.46L35.592,40.078h13.796h73.766h13.796L128.083,157.541z"
                />
                <rect x="80.271" y="65.693" width="12" height="66.232" />
                <rect x="57.271" y="65.693" width="12" height="66.232" />
                <rect x="103.271" y="65.693" width="12" height="66.232" />
              </svg>
              Supprimer</a
            ></router-link
          >
          <button class="modify" @click="modifierEvenement">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 194.436 194.436"
              style="enable-background: new 0 0 194.436 194.436"
              xml:space="preserve"
            >
              <path
                d="M192.238,34.545L159.894,2.197C158.487,0.79,156.579,0,154.59,0c-1.989,0-3.897,0.79-5.303,2.196l-32.35,32.35
		c-0.004,0.004-0.008,0.01-0.013,0.014L54.876,96.608c-1.351,1.352-2.135,3.166-2.193,5.076l-1.015,33.361
		c-0.063,2.067,0.731,4.068,2.193,5.531c1.409,1.408,3.317,2.196,5.303,2.196c0.076,0,0.153-0.001,0.229-0.004l33.36-1.018
		c1.909-0.058,3.724-0.842,5.075-2.192l94.41-94.408C195.167,42.223,195.167,37.474,192.238,34.545z M154.587,61.587L132.847,39.85
		l21.743-21.743l21.738,21.741L154.587,61.587z M89.324,126.85l-22.421,0.685l0.682-22.422l54.655-54.656l21.741,21.738
		L89.324,126.85z"
              />
              <path
                d="M132.189,117.092c-4.142,0-7.5,3.357-7.5,7.5v54.844H15.001V69.748h54.844c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.5-7.5-7.5
		H7.501c-4.142,0-7.5,3.357-7.5,7.5v124.687c0,4.143,3.358,7.5,7.5,7.5h124.687c4.142,0,7.5-3.357,7.5-7.5v-62.344
		C139.689,120.449,136.331,117.092,132.189,117.092z"
              />
            </svg>
            Modifier
          </button>
        </div>
      </div>
    </span>
  </span>
</template>

<script>
import { putEvent, getEvent } from "../api/evenement";

export default {
  name: "ModifierEvenement",
  data() {
    return {
      title: "",
      description: "",
      createdAt: "",
      startTime: "",
      endTime: "",
      location: "",
      color: "",
    };
  },

  watch: {
    $route() {
      this.majEvent();
    },
  },

  async mounted() {
    this.majEvent();
  },

  methods: {
    async majEvent() {
      console.log(this.$route.params.id);
      this.event = await getEvent(this.$route.params.id)
        .then((response) => {
          return response.data;
        })
        .then((reponse) => {
          console.log(reponse);
          this.titre = reponse.title;
          this.note = reponse.description;
          this.debut = reponse.startTime;
          this.fin = reponse.endTime;
          this.lieu = reponse.location;
          this.color = reponse.color;
        });
    },

    async modifierEvenement() {
      await putEvent(this.$route.params.id, {
        title: this.titre,
        description: this.note,
        createdAt: new Date(),
        startTime: this.debut,
        endTime: this.fin,
        location: this.lieu,
        color: this.color,
      }).then((reponse) => {
        console.log(reponse);
        //this.confirm = true //activation d'un bandeau de confirmation
        this.$router.push("/"); //redirection
      });
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

#app {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#background {
  position: fixed;
  background: rgba(221, 221, 221, 0.8);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#window {
  background-color: #f5f5f5;
  padding: 50px;
  position: relative;
  border-radius: 30px;
  font-family: "IBM Plex Sans", sans-serif;
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
}
.close a {
  color: black;
  text-decoration: none;
}
.close a #leave {
  width: 100%;
  height: 100%;
}
.close a #leave path {
  fill: lightgrey;
  height: 24px;
}

textarea {
  resize: none;
}
.delete {
  color: #f07070 !important;
  cursor: pointer;
}
#window .delete {
  height: 24px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#window .delete svg {
  width: 18px;
  height: 100%;
}
#window .delete svg path,
.delete svg rect {
  fill: #f07070;
}

#window .modify {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 110px;
}
#window .modify svg {
  width: 18px;
  height: 100%;
}
#window .modify svg path {
  fill: white;
}

#window .ligne {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
#window .ligne p {
  font-size: 16px;
  width: 100%;
  text-align: start;
  font-weight: 500;
}
#window .ligne .colonne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
#window .ligne label {
  font-size: 14px;
  width: 100%;
  text-align: start;
  margin: 0;
  font-weight: 300;
  margin-bottom: 3px;
}
#window .ligne input {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
}
#window .ligne input:active {
  border: 0;
}
#window .ligne input[type="date"] {
  color: #b8bcca;
}
#window .ligne textarea {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
  height: 150px;
}
#window .ligne a {
  text-decoration: none;
  color: #7b7b7b;
}
#window button {
  cursor: pointer;
  border-radius: 7px;
  background-color: #017fde;
  color: white;
  border: 0;
  padding: 10px 20px;
}

#window .ligne input::placeholder,
#window .ligne textarea::placeholder {
  color: #b8bcca;
  font-family: "IBM Plex Sans", sans-serif;
}

#window #ligne1 .colonne1 {
  width: 90%;
}
#window #ligne1 .colonne2 input {
  margin: 0 10px;
}
#window #ligne2 .colonne {
  width: 45%;
}
#window #ligne3 input {
  width: 100%;
}
#window #ligne5 {
  align-items: center;
  margin-top: 30px;
}

label,
input {
  margin: 2px 10px;
}
</style>
