<template>
  <span id="background">
    <span id="window">
      <span class="close"
        ><router-link to="/"
          ><svg
            id="leave"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="94.926px"
            height="94.926px"
            viewBox="0 0 94.926 94.926"
            style="enable-background: new 0 0 94.926 94.926"
            xml:space="preserve"
          >
            <path
              d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0
		c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096
		c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476
		c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z"
            /></svg></router-link
      ></span>
      <div class="container">
        <div id="ligne1" class="ligne">
          <h1>Se connecter</h1>
        </div>

        <div id="ligne2" class="ligne">
          <p>Identifiants</p>
          <div>
            <label>Adresse email <span class="needed">*</span></label>
            <input type="email" name="email" v-model="email" id="email" />
          </div>
        </div>

        <div id="ligne3" class="ligne">
          <div>
            <label>Mot de passe <span class="needed">*</span></label>
            <div style="position: relative">
              <input
                type="password"
                name="password"
                v-model="password"
                id="password"
              />
              <span class="hide"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"
                  /></svg
              ></span>
            </div>
          </div>
        </div>

        <div id="ligne4" class="ligne">
          <div>
            <a href="#">Identifiants oubliés ?</a>
          </div>
        </div>

        <div id="ligne5" class="ligne">
          <div>
            <button @click="seConnecter">Se connecter</button>
          </div>
        </div>

        <div id="ligne6" class="ligne">
          <div>
            <a href="#">Pas de compte ? Créez en un facilement</a>
          </div>
        </div>
      </div>
    </span>
  </span>
</template>

<script>
import { connectUser } from "../api/utilisateur";

export default {
  methods: {
    async seConnecter() {
      await connectUser(this.email, this.password).then((reponse) => {
        console.log(reponse);
      });
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

#app {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#background {
  position: fixed;
  background: rgba(221, 221, 221, 0.8);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#window {
  background-color: #f5f5f5;
  padding: 50px;
  position: relative;
  border-radius: 30px;
  font-family: "IBM Plex Sans", sans-serif;
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
}
.close a {
  color: black;
  text-decoration: none;
}
.close a #leave {
  width: 100%;
  height: 100%;
}
.close a #leave path {
  fill: lightgrey;
  height: 24px;
}

#window .ligne {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
#window .ligne > div {
  width: 100%;
  text-align: start;
}
#window .ligne p {
  font-size: 16px;
  width: 100%;
  text-align: start;
  font-weight: 500;
}
#window .ligne .colonne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
#window .ligne label {
  font-size: 14px;
  width: 100%;
  text-align: start;
  margin: 0;
  font-weight: 300;
  margin-bottom: 3px;
}
#window .ligne label .needed {
  color: red;
}
#window .ligne input {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
}
#window .ligne input:active {
  border: 0;
}
#window .ligne input[type="date"] {
  color: #b8bcca;
}
#window .ligne textarea {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
  height: 150px;
}
#window .ligne a {
  text-decoration: none;
  color: #7b7b7b;
}

#window button {
  cursor: pointer;
  border-radius: 7px;
  background-color: transparent;
  color: #017fde;
  border: 2px solid #017fde;
  padding: 10px 20px;
}
#window button:hover {
  background-color: #017fde;
  color: white;
}

#window .ligne input::placeholder,
#window .ligne textarea::placeholder {
  color: #b8bcca;
  font-family: "IBM Plex Sans", sans-serif;
}

#window #ligne2 input,
#window #ligne3 input {
  width: 100%;
}
#window #ligne3 .hide {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#window #ligne3 .hide svg path {
  fill: lightgrey;
}
#window #ligne4 a,
#window #ligne6 a {
  color: #017fde;
}
#window #ligne5 > div {
  text-align: end;
  margin-top: 30px;
}
#window #ligne6 {
  margin-bottom: -40px;
}
#window #ligne6 > div {
  text-align: center;
  margin-top: 30px;
}

label,
input {
  margin: 2px 10px;
}
</style>
