<template>
  <span id="background">
    <span id="window">
      <div class="container">
        <h1>Confirmation</h1>
        <h2>
          Souhaitez-vous vraiment supprimer l'événement {{ message.titre }} ?
        </h2>
        <div v-if="confirm">Evenement supprimé avec succès !</div>
        <div id="boutons">
          <router-link
            :to="{
              name: 'ModifierEvenement',
              params: { id: this.$route.params.id },
            }"
          >
            <button @click="retour" id="retour">Annuler</button>
          </router-link>
          <a @click="supprimerEvenement" class="delete"
            ><svg
              version="1.1"
              id="trash"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 172.541 172.541"
              style="enable-background: new 0 0 172.541 172.541"
              xml:space="preserve"
            >
              <path
                d="M166.797,25.078h-13.672h-29.971V0H49.388v25.078H19.417H5.744v15h14.806l10,132.463h111.443l10-132.463h14.805V25.078z
		 M64.388,15h43.766v10.078H64.388V15z M128.083,157.541H44.46L35.592,40.078h13.796h73.766h13.796L128.083,157.541z"
              />
              <rect x="80.271" y="65.693" width="12" height="66.232" />
              <rect x="57.271" y="65.693" width="12" height="66.232" />
              <rect x="103.271" y="65.693" width="12" height="66.232" />
            </svg>
            Supprimer</a
          >
        </div>
      </div>
    </span>
  </span>
</template>

<script>
import { deleteEvent, getEvent } from "../api/evenement";

export default {
  name: "SupprimerMessage",
  data() {
    return {
      message: {},
      id: "",
      couleur: "",
      libelle: "",
      confirm: false,
    };
  },

  methods: {
    async actualiseEvenement() {
      console.log(this.$route.params.id);
      this.message = await getEvent(this.$route.params.id)
        .then((response) => {
          return response.data;
        })
        .then((reponse) => {
          console.log(reponse);
          this.libelle = reponse.libelle;
          this.couleur = reponse.couleur;
        });
    },

    async supprimerEvenement() {
      await deleteEvent(this.$route.params.id).then((reponse) => {
        console.log(reponse);
        //this.confirm = true //activation d'un bandeau de confirmation
        this.$router.push("/"); //redirection
      });
    },

    async retour() {
      //this.confirm = true //activation d'un bandeau de confirmation
      this.$router.push("/"); //redirection
    },
  },
};
</script>

<style scoped>
#app {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#background {
  position: fixed;
  background: rgba(221, 221, 221, 0.8);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#window {
  background-color: #f5f5f5;
  padding: 50px;
  position: relative;
  border-radius: 30px;
  font-family: "IBM Plex Sans", sans-serif;
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
}
.close a {
  color: black;
  text-decoration: none;
}
.close a #leave {
  width: 100%;
  height: 100%;
}
.close a #leave path {
  fill: lightgrey;
  height: 24px;
}

textarea {
  resize: none;
}
.delete {
  color: #f07070 !important;
  cursor: pointer;
}
#window .delete {
  height: 24px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#window .delete svg {
  width: 18px;
  height: 100%;
}
#window .delete svg path,
.delete svg rect {
  fill: #f07070;
}

#window .modify {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 110px;
}
#window .modify svg {
  width: 18px;
  height: 100%;
}
#window .modify svg path {
  fill: white;
}

#window .ligne {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
#window .ligne p {
  font-size: 16px;
  width: 100%;
  text-align: start;
  font-weight: 500;
}
#window .ligne .colonne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
#window .ligne label {
  font-size: 14px;
  width: 100%;
  text-align: start;
  margin: 0;
  font-weight: 300;
  margin-bottom: 3px;
}
#window .ligne input {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
}
#window .ligne input:active {
  border: 0;
}
#window .ligne input[type="date"] {
  color: #b8bcca;
}
#window .ligne textarea {
  font-size: 14px;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 4px;
  height: 150px;
}
#window .ligne a {
  text-decoration: none;
  color: #7b7b7b;
}
#window button {
  cursor: pointer;
  border-radius: 7px;
  background-color: #017fde;
  color: white;
  border: 0;
  padding: 10px 20px;
}

#window .ligne input::placeholder,
#window .ligne textarea::placeholder {
  color: #b8bcca;
  font-family: "IBM Plex Sans", sans-serif;
}

#boutons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#boutons #supprimer {
  background-color: #f07070;
}
</style>
