<template>
  <div id="app">
    <h1 class="text-light">Mon calendrier</h1>
    <div class="demo-app">
      <div class="demo-app-main">
        <FullCalendar class="demo-app-calendar" :options="calendarOptions">
          <template v-slot:eventContent="arg">
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
          </template>
        </FullCalendar>
      </div>
      <div class="demo-app-sidebar">
        <div class="demo-app-sidebar-section text-muted">
          <h2>La mairie vous écrit</h2>
          <ul>
            <li>Mettez à jour votre profil</li>
            <li>Sélectionnez une date pour ajouter un événement</li>
            <li>Glissez, déposez et redimensionnez des événements</li>
            <li>Cliquez sur un événement pour le supprimer</li>
          </ul>
        </div>
        <div class="demo-app-sidebar-section text-muted">
          <h2>Evénements du mois ({{ currentEvents.length }})</h2>
          <ul>
            <li v-for="event in currentEvents" :key="event.id">
              <b>{{ event.startStr }}</b>
              <i>{{ event.title }}</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@fullcalendar/core/vdom"; // solves problem with Vite
import FullCalendar from "@fullcalendar/vue3";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import { INITIAL_EVENTS, createEventId } from "/src/event-utils";
import timeGridPlugin from "@fullcalendar/timegrid";
// import { formatDate } from "@fullcalendar/vue";
import frLocale from "@fullcalendar/core/locales/fr";

import bootstrapPlugin from "@fullcalendar/bootstrap";
import "bootstrap/dist/css/bootstrap.css";
import "@fortawesome/fontawesome-free/css/all.css";

import router from "../router";

export default {
  name: "Home",
  components: {
    FullCalendar, // make the <FullCalendar> tag available
  },
  data() {
    return {
      calendarOptions: {
        plugins: [
          dayGridPlugin,
          timeGridPlugin,
          interactionPlugin, // needed for dateClick
          bootstrapPlugin,
        ],

        headerToolbar: {
          left: "prev,next today",
          center: "title",
          right: "dayGridMonth,timeGridWeek,timeGridDay",
        },

        footerToolbar: {
          right: "buttonAjout",
        },

        customButtons: {
          buttonAjout: {
            text: "Ajouter",
            click: () => {
              router.push('/ajouter')
            },
          },
        },

        views: {
          dayGridMonth: {
            // name of view
            titleFormat: { month: "long", year: "numeric" },
            // other view-specific options here
            // dayMaxEventRows: 6, // adjust to 6 only for timeGridWeek/timeGridDay
            // eventMaxStack: null
          },
          dayGrid: {
            // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
            dayMaxEventRows: 6, // adjust to 6 only for timeGridWeek/timeGridDay
          },
          timeGrid: {
            // options apply to timeGridWeek and timeGridDay views
            eventMaxStack: null,
          },
          week: {
            // options apply to dayGridWeek and timeGridWeek views
            firstDay: 1,
          },
          day: {
            // options apply to dayGridDay and timeGridDay views
          },
        },
        dayMaxEvents: true,
        dayMaxEventRows: true, //to adjust the number of rows, called in the timeGrid
        weekends: true,

        themeSystem: "bootstrap",

        // import des locales
        locales: frLocale,
        locale: "fr",

        //modify firstday of the week
        weekNumberCalculation: "ISO",

        //add the number of the week at the begin of the row
        weekNumbers: true,
        weekNumberFormat: { week: "numeric" },

        initialView: "dayGridMonth",
        initialEvents: INITIAL_EVENTS, // alternatively, use the `events` setting to fetch from a feed

        navLinks: true,

        editable: true,
        selectable: true,
        selectMirror: true,

        nowIndicator: true,

        select: this.handleDateSelect,

        droppable: true,

        eventClick: this.handleEventClick,
        eventsSet: this.handleEvents,
        // eventClassNames: [ 'myclassname', 'otherclassname' ], // or a function
        events: [
          {
            title: "My Event",
            start: "2022-01-01T14:30",
            allDay: false,
          },
          // {objet1 récupéré de la db},
          // {objet récupéré de la db},
          // "https://calendrier.api.gouv.fr/jours-feries/metropole.json",
        ],
        eventColor: "#017efd",
        eventTextColor: "#fff",

        eventTimeFormat: {
          // like '14:30:00'
          hour: "2-digit",
          minute: "2-digit",
          hour12: false,
        },
        /* you can update a remote database when these fire:
        eventAdd:
        eventChange:
        eventRemove:
        */
      },
      currentEvents: [],
    };
  },
  methods: {
    handleWeekendsToggle() {
      this.calendarOptions.weekends = !this.calendarOptions.weekends; // update a property
    },
    handleDateSelect(selectInfo) {
      let title = prompt("Please enter a new title for your event");
      let calendarApi = selectInfo.view.calendar;
      calendarApi.unselect(); // clear date selection
      if (title) {
        calendarApi.addEvent({
          id: createEventId(),
          title,
          start: selectInfo.startStr,
          end: selectInfo.endStr,
          allDay: selectInfo.allDay,
        });
      }
    },
    handleEventClick(clickInfo) {
      if (
        confirm(
          `Are you sure you want to delete the event '${clickInfo.event.title}'`
        )
      ) {
        clickInfo.event.remove();
      }
    },
    handleEvents(events) {
      this.currentEvents = events;
    },
  },
};
</script>

<style scoped>
h2 {
  margin: 0;
  font-size: 16px;
  color: #017efd;
}
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}
li {
  margin: 1.5em 0;
  padding: 0;
}
b {
  /* used for event dates/times */
  margin-right: 3px;
}
.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.demo-app-calendar {
  width: auto;
}
.demo-app-sidebar {
  margin: 2.6rem;
  width: 300px;
  line-height: 1.5;
  background: #f5f5f5;
  border-radius: 10px;
  max-height: 725px;
}
.demo-app-sidebar-section {
  padding: 1.2rem;
}
li {
  padding: 0.75rem;
  border-radius: 10px;
  background-color: yellow;
  list-style: none;
}
.demo-app-main {
  flex-grow: 1;
  padding: 3em;
  max-height: 1100px;
}
.fc {
  /* the calendar root */
  /* max-width: 1100px; */
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  color: #7d859a;
}
</style>
