<template>
  <div id="main">
    <header class="bg-grey mx-auto">
      <div id="header" class="navigation container logo row mx-auto">
        <nav id="bienvenue" class="navbar navbar-expand-lg col-6" role="banner">
          <h1 id="logo" class="">
            <a href="https://www.commune-rosieres10.fr" title="Accueil">
              <img
                src="../src/assets/img/logo.png"
                alt="Commune de Rosi&#232;res"
                class="img_logo w-50"
            /></a>
          </h1>
        </nav>

        <div class="col-6">
          <div id="utilitaires" class="navbar navbar-expand-lg float-end">
            <ul class="me-auto mb-2 mb-lg-0 list-inline">
              <li class="list-inline-item">
                <a class="nav-link" aria-current="page" href="#menu">Menu</a>
              </li>

              <li class="list-inline-item">
                <a class="nav-link" href="#contenu">Contenu principal</a>
              </li>

              <li class="list-inline-item">
                <a class="nav-link" href="#">Plan du site</a>
              </li>
            </ul>
          </div>

          <div id="search" class="float-end">
            <form class="d-flex" action="Recherche" method="get">
              <input
                class="form-control me-2 w-75"
                type="search"
                placeholder="Rechercher"
                aria-label="Search"
              />
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </header>

    <section class="container-fluid mx-auto" id="navbarTop">
      <nav class="navbar navbar-expand-lg navbar-dark bg-grey">
        <div class="container clear w-100 justify-content-center">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item dropdown flex-fill" id="municipal">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Vie municipale
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Le Conseil Municipal</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Les finances communales</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Les services municipaux</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">La police mutualisée</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Les équipements municipaux</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Les cérémonies commémoratives</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#">Les revues municipales</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Les marchés publics</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Les enquêtes publiques</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown flex-fill" id="scolaire">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Enfance, jeunesse
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#"
                    >Les modes de garde de la petite enfance</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Le groupe scolaire (maternelle et élémentaire)</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Le règlement intérieur des services périscolaires et
                    extrascolaires</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#">La restauration scolaire</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >L&#8217; étude surveillée</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Le transport des scolaires</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >L&#8217;accueil de loisirs</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Le Club Ados</a></li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Collège, lycée et enseignement supérieur</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Musique, Sports, Pompiers, Parent&#8217;Housiasme,
                    Anglais</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown flex-fill" id="quotidien">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Vie pratique
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Démarches en ligne</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Information Coronavirus</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Démarches d&#8217;état civil</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#">Papiers - Citoyenneté</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Démarches administratives</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Social Solidarité</a></li>
                <li>
                  <a class="dropdown-item" href="#">Informations pratiques</a>
                </li>
                <li><a class="dropdown-item" href="#">Annuaires</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown flex-fill" id="urbanisme">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Environnement, urbanisme
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Géographie et patrimoine</a>
                </li>
                <li><a class="dropdown-item" href="#">Urbanisme</a></li>
                <li><a class="dropdown-item" href="#">Cadre de vie</a></li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Travaux en cours et à venir</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown flex-fill" id="urbanisme">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Culture, sports et loisirs
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#"
                    >Ecole de Musique et Orchestre d&#8217;Harmonie</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Le Comité des Fêtes et des Loisirs</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Rosières Omni Sports (ROS)</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Le Club des Amis de Rosières</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >L&#8217;Amicale des Sapeurs-Pompiers de Rosière</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >L&#8217;Union Nationale des Combattants d&#8217;Afrique du
                    Nord</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Autres activités</a></li>
              </ul>
            </li>
          </div>
        </div>
      </nav>
    </section>

    <router-view />

    <main class="container-fluid mt-3">
      <a href="#" id="top" name="top"></a>

      <Calendar />

      <a href="#top" class="remonter text-light">Haut de page</a>
    </main>

    <footer
      class="footer mt-3 container-fluid bg-grey nav-dark text-light bottom"
    >
      <div id="adresse" class="text-center container contact">
        <h5 class="mt-4 pt-3">Nous contacter</h5>
        <div>
          <h6 class="mb-3">Mairie de Rosières</h6>
          <p>Place Charles de Gaulle - BP 30118 - 10430 ROSIERES PRES TROYES</p>
          <p>Tél. 03 25 82 48 00 - Fax. 03 25 82 25 01</p>
          <p>
            E-mail&nbsp;:
            <a href="mailto:mairie@rosieres10.fr" class="mail"
              >mairie@rosieres10.fr</a
            >
          </p>
          <p>
            Heures d’ouverture&nbsp;: lundi, mardi, jeudi, vendredi 8h-12h /
            13h30-17h30. Mercredi 9h-12h/14h-17h30.
          </p>
        </div>
        <!-- .contenu_pave -->
      </div>

      <div id="links" class="container">
        <div class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
              <a href="#" class="nav-link nav-link-footer px-2">Accueil</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link nav-link-footer px-2"
                >Accessibilité</a
              >
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link nav-link-footer px-2">Contact</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link nav-link-footer px-2"
                >Mentions légales</a
              >
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link nav-link-footer px-2">Plan du site</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link nav-link-footer px-2">Espace privé</a>
            </li>
          </ul>
          <p class="text-center text-muted">&copy; 2021 Mairie de Rosières</p>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import Calendar from "@/components/Calendar.vue";
// import Calendar from "./components/Calendar.vue";

export default {
  name: "Home",
  components: {
    Calendar,
  },
};
</script>

<style>
body {
  display: flex;
  flex-direction: column;
  /* background-color: #494c49 !important; */
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}
.bg-grey {
  background-color: #494c49;
}
/** -------------------------------------------------------------------------- */
/**                                   HEADER                                   */
/** -------------------------------------------------------------------------- */
.logo {
  background-image: url("../src/assets/img/banner.jpg");
  background-size: cover;
}
.list-inline {
  background-color: #494c4983;
  line-height: 0.5;
  font-size: 0.78rem;
}
/** -------------------------------------------------------------------------- */
/**                                   FOOTER                                   */
/** -------------------------------------------------------------------------- */
.contact {
  font-size: smaller;
  line-height: 0.5;
}
footer {
  margin-top: auto;
}
.nav-link-footer {
  color: #ff0 !important;
}
.mail {
  color: #fff !important;
  font-weight: bolder;
  text-decoration: none;
}
/** -------------------------------------------------------------------------- */
/**                                     NAV                                    */
/** -------------------------------------------------------------------------- */
.dropdown {
  background-color: #017efd;
  border-bottom: #ffff00 solid 5px;
  list-style: none;
  padding: 0.8rem;
  font-weight: bold;
}
.dropdown-item:hover,
.dropdown-toggle:hover {
  background-color: #494c49 !important;
  color: #ffff00 !important;
  text-decoration: underline;
  /* padding: 0.8rem; */
}
a.nav-link {
  color: #fff;
}
.clear {
  background-color: #949494;
}
.active {
  background-color: #494c49;
  color: #ff0;
  text-decoration: none;
}
.remonter {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.582);
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 2rem;
  padding: 0.2rem;
}
.remonter:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.582);
  text-decoration: underline;
}
/* * TO DELETE AT THE END */
.bordertest1 {
  border: red 2px solid;
}
.bordertest2 {
  border: orange 2px solid;
}
.bordertest3 {
  border: yellow 2px solid;
}
.bordertest4 {
  border: greenyellow 2px solid;
}
.bordertest5 {
  border: blue 2px solid;
}
</style>
